// FONTS and WIDTH
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500;600;700&display=swap");
$font-l: 16px "Nunito", sans-serif;
$font-m: 14px "Nunito", sans-serif;
$font-s: 12px "Nunito", sans-serif;
$font-h1: 2.8rem;
$font-h2: 2rem;
$font-p: 1.1rem;
$font-link: 1rem;
$font-span: 0.9rem;

// COLORS
$black: black;
$white: white;
$blue: #122ab2;
$blue-light: #2c70ff;
$purple-border: #ae81ff;
$pink-border: #f9265e;
$blue-border: #66d9eb;
$bg-card-products: #f7f7f7;
$grey-light: #a4a4a4;
$grey: #7c7c7c;
$blue-ball: #2c70ff;

@mixin resetCSS {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

@mixin flexColumnCenter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@mixin flexRowCenter {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

@mixin containerWidth {
  width: 95%;
  max-width: 850px;
  margin: 0 auto;
  padding: 60px 0;
  border-bottom: 4px solid $blue;
}
